h1{
 padding: 20px;    
     background-color: black;
    color: white !important;
    font-size: 60px !important;
    border-radius: 6px;
   
  
}

img{
  padding-bottom: 10px;
  border-radius: 6px;
  padding-top: 20px;
  
 
}

p{
  padding-bottom: 30px;
  color: white;
  
}
iframe{
  border-radius: 6px;
}


.photoBlock{
  background-color: black;
  border-radius: 6px ;
  
  
}
.row{
  padding: 25px;
}
.Description{
  width: 400px;
  margin: 0 auto;
}

.ContactMe{
    padding-top: 40px;
    background-color: black;
   color: white;
   padding-bottom: 25px;
   border-radius: 6px;
   margin:0 auto;
   
}

.Contact{
    font-weight: bold;
    
}

.Weather{
  display: block;
 float: left;

}

.Dictionary{
  display: block;
  float: right;
}
.WeatherInfo{
  padding-top: 100px;
 
}

.DictionaryInfo{
  padding-top: 100px;
}
.First{
  
  border-radius: 6px;
  background-color: black;
  color: white;
  
 
 
}
.Second{
  
  border-radius: 6px;
  background-color: black;
  color: white;
  
}

@media  all and (min-width: 400px) {
  
  img{
    height:200px;
    width: 200px;
  }
  iframe{
    height: 440px;
    width: 390px;;
    
  }
  
  .Weather{
    float:unset;
    margin: 0 auto;
   
    
  }
  .Dictionary{
    float: unset;
    margin: 0 auto;
  
  }
  .DictionaryInfo{
    padding-top:20px
  }
  .WeatherInfo{
    padding-top: 20px
  }
  
}

@media  all and (min-width: 650px) {
  
  img{
    height:300px;
    width: 300px;
  }
  iframe{
    height:620px;
    width: 500px;;
    
  }
  .First{
    max-width: 900px;
    margin: 0 auto !important;
  }
  .Second{
    max-width: 900px; 
    margin: 0 auto !important;
  }
  .Weather{
    float:unset;
    position: relative;
    right: 10px;
  }
  .Dictionary{
    float: unset;
    position: relative;
    right:15px
  
  }
  .DictionaryInfo{
    padding-top:20px
  }
  .WeatherInfo{
    padding-top: 20px
  }
  
}