h1{
     
    
}

.row{
  padding: 25px;
}
.Description{
  width: 400px;
  margin: 0 auto;
}

.ContactMe{
    padding-top: 40px;
   
}

.Contact{
    font-weight: bold;
}

.Weather{
  display: block;
 float: left;
}

.Dictionary{
  display: block;
  float: right;
}
.WeatherInfo{
  padding-top: 100px;
 
}

.DictionaryInfo{
  padding-top: 100px;
}
