h1{
 padding: 20px;    
    background-color: black;
    color: white;
    margin-bottom: 300px;
}

img{
  padding-bottom: 10px;
  border-radius: 6px;
  
  
 
}

p{
  padding-bottom: 30px;
  color: white;
}

.photoBlock{
  background-color: black;
  margin-top: 0;
  
  
}
.row{
  padding: 25px;
}
.Description{
  width: 400px;
  margin: 0 auto;
}

.ContactMe{
    padding-top: 40px;
    background-color: black;
   color: white;
   padding-bottom: 25px;
   
}

.Contact{
    font-weight: bold;
}

.Weather{
  display: block;
 float: left;
}

.Dictionary{
  display: block;
  float: right;
}
.WeatherInfo{
  padding-top: 100px;
 
}

.DictionaryInfo{
  padding-top: 100px;
}
.First{
  border: 2px solid white;
  border-radius: 6px;
  background-color: black;
  color: white;
 
 
}
.Second{
  border: 2px solid white;
  border-radius: 6px;
  background-color: black;
  color: white;
  
}